In [21]:
from dotenv import dotenv_values
from simple_salesforce import Salesforce
import pandas as pd

In [22]:
config = dotenv_values("../.env")

In [23]:
sf = Salesforce(username=config["USERNAME"], password=config["PASSWORD"], security_token=config["TOKEN"])

In [24]:
data = sf.query('SELECT Id, FirstName, LastName, Phone, Email FROM Lead')

In [25]:
df = pd.DataFrame(data['records']).drop(['attributes'],axis=1)

In [26]:
df

,Id,FirstName,LastName,Phone,Email
0,00Q5f000008sihTEAQ,Dedie,Trevan,5554755862,trevandediesanfordinc@example.com
1,00Q5f000008sihMEAQ,Sheena,Clutton,5553358892,cluttonsheenaolsondooley@example.com
2,00Q5f000008sihNEAQ,Allison,Cicco,5553513768,ciccoallisonvolkmangreen@example.com
3,00Q5f000008sihOEAQ,Wright,Paulo,5556655507,paulowrightgerlachmorissette@example.com
4,00Q5f000008sihPEAQ,Marysa,Balam,5552021506,balammarysalockmanhills@example.com
...,...,...,...,...,...
1117,00Q5f000008v770EAA,Bertha,Boxer,(850) 644-4200,bertha@fcof.net
1118,00Q5f000008v771EAA,Phyllis,Cotton,(703) 757-1000,pcotton@abbottins.net
1119,00Q5f000008v772EAA,Jeff,Glimpse,886-2-25474189,jeffg@jackson.com
1120,00Q5f000008v773EAA,Mike,Braund,(410) 381-2334,likeb@metro.com
1121,00Q5f000008v774EAA,Patricia,Feager,(336) 777-1970,patricia_feager@is.com

In [27]:
df.iloc[0]

Id                          00Q5f000008sihTEAQ
FirstName                                Dedie
LastName                                Trevan
Phone                               5554755862
Email        trevandediesanfordinc@example.com
Name: 0, dtype: object

In [28]:
df.iloc[[0,10], 2]

0           Trevan
10    Schuchmacher
Name: LastName, dtype: object

In [29]:
df.loc[[0, 10], 'LastName']

0           Trevan
10    Schuchmacher
Name: LastName, dtype: object

In [30]:
df.loc[[0, 10], ['LastName', 'Email']]

        LastName                                         Email
0         Trevan             trevandediesanfordinc@example.com
10  Schuchmacher  schuchmacherrenelleschinnertowne@example.com

In [31]:
df.shape

(1122, 5)

In [32]:
df['Email']

0              trevandediesanfordinc@example.com
1           cluttonsheenaolsondooley@example.com
2           ciccoallisonvolkmangreen@example.com
3       paulowrightgerlachmorissette@example.com
4            balammarysalockmanhills@example.com
                          ...
1117                             bertha@fcof.net
1118                       pcotton@abbottins.net
1119                           jeffg@jackson.com
1120                             likeb@metro.com
1121                      patricia_feager@is.com
Name: Email, Length: 1122, dtype: object

In [33]:
df['FirstName'].value_counts()

Zaria       4
Clemmy      4
Annabal     3
Myrah       3
Ruthy       3
           ..
Delly       1
Wynne       1
Mortie      1
Cammie      1
Patricia    1
Name: FirstName, Length: 992, dtype: int64

In [35]:
df['Email'].value_counts()

trevandediesanfordinc@example.com                     1
pedronaynmarquardtgroup@example.com                   1
toplisonidahodkiewiczandsons@example.com              1
litsterwalliskubinc@example.com                       1
piontertheodorquigleyluettgenandhansen@example.com    1
                                                     ..
schonfelddorellewymanharber@example.com               1
rivelinshelaghgorczanysauer@example.com               1
calderbankfreddieoberbrunnerandsons@example.com       1
baffordconniraynortillman@example.com                 1
patricia_feager@is.com                                1
Name: Email, Length: 1122, dtype: int64

In [36]:
df['Id']

0       00Q5f000008sihTEAQ
1       00Q5f000008sihMEAQ
2       00Q5f000008sihNEAQ
3       00Q5f000008sihOEAQ
4       00Q5f000008sihPEAQ
               ...
1117    00Q5f000008v770EAA
1118    00Q5f000008v771EAA
1119    00Q5f000008v772EAA
1120    00Q5f000008v773EAA
1121    00Q5f000008v774EAA
Name: Id, Length: 1122, dtype: object

In [37]:
df.set_index('Id')

,FirstName,LastName,Phone,Email
Id,,,,
00Q5f000008sihTEAQ,Dedie,Trevan,5554755862,trevandediesanfordinc@example.com
00Q5f000008sihMEAQ,Sheena,Clutton,5553358892,cluttonsheenaolsondooley@example.com
00Q5f000008sihNEAQ,Allison,Cicco,5553513768,ciccoallisonvolkmangreen@example.com
00Q5f000008sihOEAQ,Wright,Paulo,5556655507,paulowrightgerlachmorissette@example.com
00Q5f000008sihPEAQ,Marysa,Balam,5552021506,balammarysalockmanhills@example.com
...,...,...,...,...
00Q5f000008v770EAA,Bertha,Boxer,(850) 644-4200,bertha@fcof.net
00Q5f000008v771EAA,Phyllis,Cotton,(703) 757-1000,pcotton@abbottins.net
00Q5f000008v772EAA,Jeff,Glimpse,886-2-25474189,jeffg@jackson.com
00Q5f000008v773EAA,Mike,Braund,(410) 381-2334,likeb@metro.com
00Q5f000008v774EAA,Patricia,Feager,(336) 777-1970,patricia_feager@is.com

In [38]:
df.set_index('Id', inplace=True)

In [39]:
df

,FirstName,LastName,Phone,Email
Id,,,,
00Q5f000008sihTEAQ,Dedie,Trevan,5554755862,trevandediesanfordinc@example.com
00Q5f000008sihMEAQ,Sheena,Clutton,5553358892,cluttonsheenaolsondooley@example.com
00Q5f000008sihNEAQ,Allison,Cicco,5553513768,ciccoallisonvolkmangreen@example.com
00Q5f000008sihOEAQ,Wright,Paulo,5556655507,paulowrightgerlachmorissette@example.com
00Q5f000008sihPEAQ,Marysa,Balam,5552021506,balammarysalockmanhills@example.com
...,...,...,...,...
00Q5f000008v770EAA,Bertha,Boxer,(850) 644-4200,bertha@fcof.net
00Q5f000008v771EAA,Phyllis,Cotton,(703) 757-1000,pcotton@abbottins.net
00Q5f000008v772EAA,Jeff,Glimpse,886-2-25474189,jeffg@jackson.com
00Q5f000008v773EAA,Mike,Braund,(410) 381-2334,likeb@metro.com
00Q5f000008v774EAA,Patricia,Feager,(336) 777-1970,patricia_feager@is.com